<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change personality</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" />
</head>
<body>
<div th:insert="~{fragments/navigation_fragments  :: navbar}"></div>
<div>
    <form th:action="@{/profile/change_personality}" th:object="${personality}" method="post" class="m-auto col-3 text-center">
        <h1 class="h3 mb-3 fw-normal">Изменение ваших ФИО</h1>

        <h5 th:text="'Установленное имя: '+*{firstname}"></h5>
        <div class="form-floating">
            <input type="text" class="form-control"
                   id="firstName" th:field="*{firstname}" placeholder="Изменённое имя" required maxlength="50">
            <label for="firstName" th:text="'Изменённое имя'"></label>
        </div>

        <h5 th:text="'Установленная фамилия: '+*{lastname}"></h5>
        <div class="form-floating">
            <input class="form-control" id="lastName"
                   maxlength="50" placeholder="Изменённая фамилия" required th:field="*{lastname}" type="text">
            <label for="lastName" th:text="'Изменённая фамилия'"></label>
        </div>

        <h5 th:text="'Установленное отчество '+*{patronymic}"></h5>
        <div class="form-floating">
            <input type="text" class="form-control"
                   id="patronymic" th:field="*{patronymic}" placeholder="Изменённое отчество" maxlength="50">
            <label for="patronymic" th:text="'Изменённое отчество'"></label>
        </div>

        <button class="w-100 btn btn-lg btn-dark" type="submit">Подтвердить изменение</button>
    </form>
</div>
<script type="text/javascript"
        src="/webjars/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript"
        src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
</body>
</html>